		HEADER {
	width: 100%;
	height: 150px;
	display: inline-block;
}

.headerOne{
	float: left;
	height: 150px;
	width: 28%;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	margin-left: 8px;
}


.gameLogo {
	background: url("../images/grid.png") center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 28px solid #831618;
	float: left; 
	margin-left: 20px;
	margin-top: 6px;
}

.gameLogo:hover {
	border: 28px solid black;
}

#gameNameOne, #gameNameTwo, #gameNameThree {
	margin-left: 26px;
}

#gameNameOne {
	color:#831618;
	margin-top: 6px;
}
	

#gameNameTwo {
	color: black;
	margin-top: -10px;
	
}

#gameNameThree {
	color: #D2D2D3;
	margin-top: -12px;
}

.xlogo {
	background-image: url("../images/x.png");
	width: 80px;
	height: 80px;
	float: left;
	border: 28px solid black;
	border-radius: 10%;
	margin-left: 10px;
	margin-right: -20px;
	margin-top: 6px;
}

.xlogo:hover {
	border: 28px solid #831618;
}

.headerTwo{
	float: left;
	width: 70%;
	height: 150px;
	display: inline-block;
	background: url('../images/background1.png');
	margin-right: -40px;
	border-bottom: 10px solid black;
}


.one {
	width: 100px;
	height: 100px;
	float: left;
	border: 20px double #831618 ;
	text-align: center;
	margin-left: 10%;
	margin-top: 5px;
	color: black;


}

.two {
	width: 100px;
	height: 100px;
	float: left;
	border: 20px double #831618 ;
	border-radius: 50%;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 10%;
	margin-top: 5px;
	color: black;
}


MAIN {
	display: inline-block;
}

#boardGame {
	width: 800px;
	height: 500px;
	border-right: 10px solid black;
	float: left;
	display: inline-block;
}

#emptyDiv {
	height:100px;
	width: 40%;
}

MAIN {
	display: inline-block;
}

SECTION {
	width: 70%;
	display: inline-block;
}

#info {
	width: 300px;
	height: 505px;
	float: left;
	margin-top: 5px;
	margin-left: 8px;
	margin-right: -10px;
	background-image: url('../images/background1.png');
}

#winner {
	width: 300px;
	height: 50px;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 10px solid black;
	background-color: black;
	color: white;
}

#clearButton {
	width: 120px;
	height: 120px;
	background-color: #D2D2D3;
	border: 10px solid #831618;
	border-radius: 10%;
	margin-left: 30%;
	margin-top: 10%;
	cursor: pointer;
	color: #831618;

}

#resetButton {
	width: 120px;
	height: 120px;
	background-color: black;
	border: 10px solid #831618;
	margin-left: 30%;
	color: #831618;
	border-radius: 50%;
	margin-top: 20%;
	cursor: pointer;

}

.chartBox {
	width: 470px;
	height: 500px;
	display: inline-block;
	border-left: 10px solid black;
	margin-left: 10px;
	padding: 5px;

}

.box {
	vertical-align: top;
	display: inline-block;
	width: 125px;
	height: 125px;
	cursor: pointer;
	float: left;
	background-color:black;
	border: 20px double white;
	border-color: white;
	border-radius: 50%;
	margin-left: 23px;
	margin-top: 20px;

}

.x {
	width: 125px;
	height: 125px;
	border-radius: 10%;
 	vertical-align: center;
 	vertical-align: top;
 	border: 30px double #831618;
 	background-color: #D2D2D3;
}

.o {
	width: 125px;
	height: 125px;
	background-image: url('../images/background1.png');
 	vertical-align: center;
 	vertical-align: top;
 	border: 30px double white;
 	border-radius: 50%;
}

#chatWindow {
	width: 400px;
	height: 400px;
	float: left;
}

.chatTittle {
	float: left;
	background-color: #EB593C;
	width: 350px;
	height: 60px;
	margin-left: 35px;
	margin-top: 10px;
	text-align: center;
	border-radius: 5px;
}

.chatBody {
	width: 340px;
	height: 410px;
	margin-top: 20%;
	margin-left: 10px;
	border-top: 10px solid teal;
	border-left: 10px solid teal;
	border-right: 10px solid teal;
	border-radius: 5%;
	background-image: url('../images/miss_olivia.png');
	background-repeat: no-repeat;
	background-position: center;

}
