
HEADER {
	display: inline-block;
	width: 90%;	
	text-align: center;
	margin-left: 5%;
	margin-right:5%;
	/*border-bottom: 5px solid black;*/
}

#gameNameOne {
	color:red;
	margin-top: 10px;
}

#gameNameTwo {
	color: black;
	margin-top: -5px;
}

#gameNameThree {
	color: grey;
	margin-top: -10px;
}

.xlogo {
	background-image: url("../images/x.png");
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 33%;
	border: 32px solid black;
	margin-bottom: 1%;
	border-radius: 10%;
}

.headerBorder:hover {
	border: 32px solid red;
}


.gameLogo {
	background: url("../images/grid.png") center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 32px solid red;
	float: left; 
	margin-left: 33%;
	margin-bottom: 1%;
}

.gameLogo:hover {
	border: 32px solid black;
}

MAIN {
	width: 600px;
	height: 500px;
	margin: 0 auto;
}

.chartBox {
	width: 40%;
	height: 600px;
	display: inline;
	margin: 0 auto;
}


.box {
	vertical-align: top;
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 5px black;
	border-style: double;
	cursor: pointer;
}

.x {
	width: 150px;
	height: 150px;
 	vertical-align: center;
}




