<!DOCTYPE html>
<html ng-app = "tictactoeApp">
	<head>
		<meta charset="utf-8">
		<title>Dialy Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<script type="text/javascript" src = "js/angular.js"></script>
		<script type="text/javascript" src="js/firebase.js"></script>
		<script type="text/javascript" src="js/angularfire.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/TicTacToeController.js"></script>

	</head>

	<body ng-controller = "TicTacToeController as gameCtrl" class="container">

		<header class="row">
			<section  class = "headerOne col-md-6 col-xs-12">
				<div class = "xlogo col-md-4 col-xs-4 "></div>
				<div class="gridlogo col-md-4 col-xs-4">
					<h5 id= "tic">Tic.</h5>
					<h5 id= "tac">Tac.</h5>
					<h5 id= "toe">Toe.</h5>
				</div>
				
			</section>
			<section class = "headerTwo col-md-6 col-xs-12">
				<div class=" one col-md-4 col-xs-4">
					<h4>player one score <strong>{{gameCtrl.game[0].player1Score}}</strong></h4>
				</div>
				<div class="two col-md-4 col-xs-4"> <h4>player two score <strong>{{gameCtrl.game[0].player2Score}}</strong> </h4>
				</div>

			</section>
		
		</header>

			<div class="empty"></div>
		
		<main>

			<section id = "boardGame">
				
				<div id = "info">
					<aside id = "winner">
					<h2>{{gameCtrl.game[0].message}}</h2>
					</aside>
					<div class = "reset">
					<button id = "resetButton" ng-click = "gameCtrl.scoreReset()"><h2>Reset Score</h2></button>
					<button id = "clearButton" ng-click= "gameCtrl.clearBoard()"><h2>Clear Board</button></h2>
					</div>
					
				</div>


				<div class = "chartBox">
					<button class= "box" ng-repeat = "boxes in gameCtrl.grid" ng-class="boxes.select" ng-click="gameCtrl.boxClick($index)"></button>
				</div>
				
			</section>

			<aside id = "chatWindow">
				<span class = "chatTittle"><h1>Welcome</h1></span>
				<ul class = "chatBody">
						
				</ul>
				
			</aside>
		</main>


	</body>

</html>
